### Locale and Keyboard
d-i debian-installer/locale string en_US
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

### Network Configuration
d-i netcfg/enable boolean false
d-i netcfg/disable_autoconfig boolean true

### Clock and Timezone
d-i clock-setup/utc boolean true
d-i time/zone string Asia/Almaty

### Grub and Reboot Message
d-i grub-installer/only_debian boolean true

### Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/default_filesystem string xfs
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/device_remove_lvm_span boolean true
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-auto/choose_recipe select root-boot

### LVM partitioning (30Gb disk)
d-i partman-auto/expert_recipe string                   	\
      root-boot ::                                  		\
      		150 400 1024 xfs                             	\
				$primary{ } $bootable{ }              		\
				method{ format } format{ }            		\
				use_filesystem{ } filesystem{ xfs }  		\
				mountpoint{ /boot }  .                 		\
			50 5000 -1 xfs                     		\
				$defaultignore{ }                       	\
				$primary{ }                             	\
				method{ lvm }                           	\
				device{ /dev/sda }                      	\
				vg_name{ system }  .                     	\
			100 700 2048 linux-swap                       	\
				in_vg{ system }					 			\
				lv_name{ swap }                        		\
				method{ swap } format{ }               		\
				$lvmok{ } .                             	\
			2000 4000 10240 xfs                          	\
				in_vg{ system }					     		\
				lv_name{ log }                        		\
				method{ lvm } format{ }                		\
				use_filesystem{ } filesystem{ xfs }   		\
				mountpoint{ /var/log }                 		\
				options/relatime{ relatime }                \
				$lvmok{ } .	     	                        \
			100 700 2048 xfs                            	\
				in_vg{ system }					     		\
				lv_name{ home }                          	\
				method{ lvm } format{ }                  	\
				use_filesystem{ } filesystem{ xfs }     	\
				mountpoint{ /home }                     	\
				options/relatime{ relatime }                \
				$lvmok{ } .                             	\
			3000 6000 -1 xfs                         	\
				in_vg{ system }					    		\
				lv_name{ root }                        		\
				method{ lvm } format{ }                 	\
				use_filesystem{ } filesystem{ xfs }    	\
				mountpoint{ / }                         	\
				options/relatime{ relatime }                \
				$lvmok{ } .                             	

### User Configuration
d-i passwd/user-fullname string ansible
d-i passwd/username string ansible
d-i passwd/user-password-crypted password $6$/wWricjxMcUz8uz/$zVkNeh3j.Z47t3o2kYNRayP1vueV7hmr/KXxaKsLezuFEcwNlY60Z56YNSzTgOLx6Ia.P9cxCzgNmToRojahZ1
d-i user-setup/allow-password-weak boolean false
d-i user-setup/encrypt-home boolean false

### Root Configuration
d-i passwd/root-login boolean true
d-i passwd/root-password-crypted password $6$fm5bOd/WYR6qOTZI$qh/859fmtMvXk9YyS8o.VJWJWWl/sn2VpW1HE2SRZCSBQJrNOeQ5emtLs1ifjcryG0qm9GjRW62Mx0x6uGBSO0

### Package Configuration
tasksel tasksel/first standard
d-i pkgsel/include string openssh-server open-vm-tools
d-i pkgsel/install-language-support boolean false

### Disable Automatic Package Updates
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade

### Passwordless sudo for ansible user
d-i preseed/late_command string \
    echo 'ansible ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/ansible ; \
    in-target chmod 440 /etc/sudoers.d/ansible ;

### Shutdown
d-i finish-install/reboot_in_progress note
